<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim.cloud.zebra.mapper.SysUserMapper">
     <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
     <!--  -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  
	
	<!-- 查询列表-->
	<select id="selectIdPage" resultType="java.lang.Long" useCache="false">
		SELECT id FROM sys_user
		<where>
			<if test="cm.keyword != null and cm.keyword != '' ">
				and (user_name like CONCAT('%',#{cm.keyword},'%') 
				 or phone like CONCAT('%',#{cm.keyword},'%'))
			</if>
			<if test="cm.state !=null ">
			  and state=#{cm.state}
			</if>
			<if test="cm.cid !=null ">
			  and cid=#{cm.cid}
			</if>
		</where>
	</select>
	
	<select  id="selectMutiTablePage"  parameterType="java.util.Map"
	 resultType="com.sim.cloud.zebra.model.SysUser">
		select a.id as id,a.user_name,a.passwd 
		FROM sys_user a join message b on a.user_name=b.title and a.id=#{id}
	</select>
	
	<select  id="selectUsers" parameterType="com.sim.cloud.zebra.model.SysUser"
	 resultType="com.sim.cloud.zebra.model.SysUser">
		select id,user_name,passwd 
		FROM sys_user where id=#{id}
	</select>
</mapper>
