.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
}
.table>tbody>tr{
    cursor: pointer;
}
.modal-backdrop, .modal-backdrop.fade.in {
    background-color: #333 !important;
}
.bootbox-alert{
	background: none;
	border:none;
	    box-shadow:none;
}
.modal-open{
	overflow:auto
}
.cont {
	line-height: 80px;
}
.f-bold {
    font-weight: 600;
}
.f-size-l3 {
    font-size: 20px!important;
}
.color-666 {
    color: #666!important;
}